<!DOCTYPE html>
<html>
  <head>
    <title>Auto-Schedule</title>
    <link rel="stylesheet" type="text/css" media="all" href="static/my.css?q=dddsdd" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway"/>
  </head>
  <body>
    <h1>Auto-Schedule</h1>
    <h2>Helps you enter classes on WebReg into your Google Calendar</h2>
  <div class = "bigboi">
    <table>
      <tr id="row1">
        <td><div class="brown"><p>Step 1: Authorize? Click the Sea Turtle :)</p></div></td>
        <td><div class="brown"><p>Step 2: Select and copy your classes from <a href="https://act.ucsd.edu/webreg2">WebReg</a></p></div></td>
      </tr>
      <tr id="row2">
        <td><a href=""><img src="https://cdn.cnn.com/cnnnext/dam/assets/181205104053-01-turtle-plastic-super-tease.jpg"></a></td>
        <td><img src="static/second.png"></td>
      </tr>
      <tr id="row3">
        <form action="confirmData" method = "POST" enctype = "multipart/form-data">
          <td><div class="brown" id="three"><p>Step 3: </p><textarea name="text" placeholder="Paste it here!"></textarea></div></td>
          <td>
            <div class="brown" id="four">
              <input class = "button" type='submit' value="Step 4: Schedule them!" class="submit">
            </div>
            <p id="error">{{data["error"]}}</p>
          </td>
        </form>
      </tr>
    </table>
  </div>

  <a href="revoke">Revoke permission</a>
  <p>{{data["email"]}}</p>

  </body>
<html>
